# Ignores the entire data folder and any sqlite files
data/
*.db
*.sqlite3

# Keeps local libraries and cache out of the repo
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
build/
dist/

# For future API keys (like OpenAI or Clerk.dev)
.env

# Keeps personal VS Code settings out of the team repo
.vscode/
.DS_Store